<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wss.module.market">

    <application>
        <activity android:name=".ui.main.MarketMainActivity" />
        <activity android:name=".ui.goods.detail.GoodsDetailActivity" />
        <activity android:name=".ui.goods.cart.ShoppingCartActivity" />
    </application>
</manifest>
