<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wss.module.wan">


    <!--在Module单独开发模式下使用该mainfest-->
    <application
        android:name=".common.WanApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AdmTheme">

        <activity android:name=".ui.main.WanMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".ui.setup.SystemActivity" />
        <activity android:name=".ui.setup.SystemArticleActivity" />
        <activity android:name=".ui.project.ProjectActivity" />
        <activity android:name=".ui.wxnumber.WXNumberActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.collection.CollectionActivity" />
    </application>
</manifest>