<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wss.module.main">


    <!--在Module单独开发模式下使用该mainfest-->
    <application
        android:name=".common.MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AdmTheme">

        <activity android:name=".ui.loading.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.hortab.OrderListActivity" />
        <activity android:name=".ui.refresh.RefreshStringActivity" />
        <activity android:name=".ui.selector.SelectorActivity" />
        <activity android:name=".ui.page.CountViewActivity" />
        <activity android:name=".ui.page.MultipleItemActivity" />
        <activity android:name=".ui.page.ObserverButtonActivity" />
        <activity android:name=".ui.page.DialogActivity" />
        <activity android:name=".ui.page.FlowLayoutActivity" />
        <activity android:name=".ui.im.IMActivity" />
        <activity android:name=".ui.im.IMUserInfoActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.page.ScaleImageActivity" />
    </application>
</manifest>