<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wss.module.wan">


    <application>
        <activity android:name=".ui.series.SeriesActivity" />
        <activity android:name=".ui.series.SeriesArticleActivity" />
        <activity android:name=".ui.project.ProjectActivity" />
        <activity android:name=".ui.wxnumber.WXNumberActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.collection.CollectionActivity" />
    </application>
</manifest>
