<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wss.module.main">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>

        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.page.selector.SelectorActivity" />
        <activity android:name=".ui.page.MultipleItemActivity" />
        <activity android:name=".ui.page.DialogActivity" />
        <activity android:name=".ui.page.RadioGroupActivity" />
        <activity android:name=".ui.page.viscosity.SimpleViscositySlideActivity" />
        <activity android:name=".ui.page.viscosity.ComplexViscositySlideActivity" />
        <activity android:name=".ui.page.navigation.CityListActivity" />
        <activity android:name=".ui.page.CustomViewActivity" />
        <activity android:name=".ui.page.SlewedActivity" />
        <activity android:name=".ui.page.MarqueeActivity" />
        <activity android:name=".ui.page.flip.CardFlipActivity" />

    </application>
</manifest>
