<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wss.module.main">

    <application>


        <activity
            android:name=".ui.loading.LoadingActivity"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.MainActivity" />
        <activity android:name=".ui.hortab.OrderListActivity" />
        <activity android:name=".ui.refresh.ArticleListActivity" />
        <activity android:name=".ui.selector.SelectorActivity" />
        <activity android:name=".ui.count.CountViewActivity" />
    </application>
</manifest>
